In [1]:
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
dataset = pd.read_csv('Data Murni Convert Bulan Arah Angin.csv')
dataset.shape

(2994, 31)

In [3]:
dataset.columns

Index(['Tanggal', 'Tn', 'Tx', 'Tavg', 'RH_avg', 'ss', 'ff_x', 'ddd_x',
       'ff_avg', 'N', 'NE', 'E', 'SE', 'S', 'SW', 'W', 'NW', 'C', 'Jan', 'Feb',
       'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Ags', 'Sep', 'Okt', 'Nov', 'Des',
       'RR'],
      dtype='object')

In [4]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
dataset1 = pd.read_csv('Data Murni.csv')
dataset1.shape

(2994, 12)

In [5]:
dataset1.columns

Index(['Tanggal', 'Tn', 'Tx', 'Tavg', 'RH_avg', 'ss', 'ff_x', 'ddd_x',
       'ff_avg', 'ddd_car', 'bulan', 'RR'],
      dtype='object')

In [6]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
dataset2 = pd.read_csv('Data Prototype 1.csv')
dataset2.shape

(2989, 42)

In [7]:
dataset2.columns

Index(['Tanggal', 'Tn', 'Tx', 'Tavg', 'ss', 'ddd_x', 'ff_avg', 'N', 'NE', 'E',
       'SE', 'S', 'SW', 'W', 'NW', 'C', 'Jan', 'Feb', 'Mar', 'Apr', 'Mei',
       'Jun', 'Jul', 'Ags', 'Sep', 'Okt', 'Nov', 'Des', 'RH_avg_5day', 'RH1',
       'RH2', 'RH3', 'RH_avg', 'ff_x', 'ff_x1', 'ff_x2', 'ff_x3',
       'RR_avg5_day', 'RR1', 'RR2', 'RR3', 'RR'],
      dtype='object')

In [8]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
dataset3 = pd.read_csv('Data Prototype 1a.csv')
dataset3.shape

(2989, 41)

In [9]:
dataset3.columns

Index(['Tanggal', 'Tn', 'Tx', 'Tavg', 'ddd_x', 'ff_avg', 'N', 'NE', 'E', 'SE',
       'S', 'SW', 'W', 'NW', 'C', 'Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun',
       'Jul', 'Ags', 'Sep', 'Okt', 'Nov', 'Des', 'RH_avg_5day', 'RH1', 'RH2',
       'RH3', 'RH_avg', 'ff_x', 'ff_x1', 'ff_x2', 'ff_x3', 'RR_avg5_day',
       'RR1', 'RR2', 'RR3', 'RR'],
      dtype='object')

In [10]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
dataset4 = pd.read_csv('Data Prototype 3.csv')
dataset4.shape

(2989, 23)

In [11]:
dataset4.columns

Index(['Tanggal', 'Tn', 'Tx', 'Tavg', 'RH_avg', 'ss', 'ff_x', 'ddd_x',
       'ff_avg', 'ddd_car', 'bulan', 'RH_avg_5day', 'RH1', 'RH2', 'RH3',
       'ff_x1', 'ff_x2', 'ff_x3', 'RR_avg5_day', 'RR1', 'RR2', 'RR3', 'RR'],
      dtype='object')

In [12]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
dataset5 = pd.read_csv('Data Prototype 3a.csv')
dataset5.shape

(2989, 22)

In [13]:
dataset5.columns

Index(['Tanggal', 'Tn', 'Tx', 'Tavg', 'RH_avg', 'ff_x', 'ddd_x', 'ff_avg',
       'ddd_car', 'bulan', 'RH_avg_5day', 'RH1', 'RH2', 'RH3', 'ff_x1',
       'ff_x2', 'ff_x3', 'RR_avg5_day', 'RR1', 'RR2', 'RR3', 'RR'],
      dtype='object')

data dengan tambahan a yang dihapus 2 kolom